*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(255 255 255 1) !important;
  font-family: "Be Vietnam Pro", serif !important;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 !important;
  padding: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  z-index: 5;
}

li {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 400;
  color: #ffffff;
  z-index: 5;
}
